ServiceDesk.json
{
  "name": "New Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "service-desk-ai",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "e13d9870-d89e-4f8c-88b1-7624836293a7",
      "name": "Webhook",
      "webhookId": "d1eb6c2b-86d3-4969-8b77-3ea0459f8906"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an AI Service Desk Agent.\n\nYour responsibility is to analyze incoming service requests using strict business rules.\n\nInput issue:\n{{$json.body.issue}}\n\nRules for priority:\n- HIGH priority ONLY if the issue mentions:\n  - \"urgent\"\n  - \"production\"\n  - \"system down\"\n  - \"outage\"\n  - \"blocked\"\n  - \"business impact\"\n- MEDIUM priority if the issue affects functionality but is not urgent\n- LOW priority for minor or informational issues\n\nTasks:\n1. Classify the issue type (Login, Payment, Bug, Access, Other)\n2. Determine priority strictly using the rules above\n3. Decide action:\n   - \"Escalate\" ONLY if priority is High\n   - \"Ask for missing info\" if details are insufficient\n   - \"Normal handling\" otherwise\n\nRespond ONLY in valid JSON:\n\n{\n  \"category\": \"\",\n  \"priority\": \"\",\n  \"action\": \"\",\n  \"response_message\": \"\"\n}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        208,
        0
      ],
      "id": "f4d14921-206d-4c16-90c3-3365ec9f52f2",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "QyMNuW6Ksf0G6MTb",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1ec9ec3-38a8-49f2-8629-0df2e73577cb",
              "name": "ai_raw",
              "value": "={{$json.output[0].content[0].text}}",
              "type": "string"
            },
            {
              "id": "25d3af46-7fee-4834-bfb9-6d1538b6ef46",
              "name": "ai",
              "value": "={{ JSON.parse($json.output[0].content[0].text) }}",
              "type": "object"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "5cff83a2-3c2e-4e24-9aca-6d98182c32a9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A6QGSDK1S",
          "mode": "list",
          "cachedResultName": "all-learning"
        },
        "text": "=🚨 HIGH PRIORITY SERVICE REQUEST\n\n👤 Name: {{$node[\"Webhook\"].json.body.name}}\n📧 Email: {{$node[\"Webhook\"].json.body.email}}\n\n📝 Issue:\n{{$node[\"Webhook\"].json.body.issue}}\n\n📂 Category: {{$node[\"Edit Fields\"].json.ai.category}}\n🔥 Priority: {{$node[\"Edit Fields\"].json.ai.priority}}\n⚡ Action: {{$node[\"Edit Fields\"].json.ai.action}}\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1072,
        -96
      ],
      "id": "e28e0c2e-25d3-46ab-91b5-df776c1bec96",
      "name": "Send a message",
      "webhookId": "42f2c9ea-f6a0-47ab-9392-4a0391db7141",
      "credentials": {
        "slackOAuth2Api": {
          "id": "i12sQs5QiILRN3cm",
          "name": "Slack account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1xJgGUxLNSW1GCjMj7QWMFT9PY74ZMu-uAT9vnFlpgzs",
          "mode": "list",
          "cachedResultName": "ServiceDesk",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xJgGUxLNSW1GCjMj7QWMFT9PY74ZMu-uAT9vnFlpgzs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xJgGUxLNSW1GCjMj7QWMFT9PY74ZMu-uAT9vnFlpgzs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{$node[\"Webhook\"].json.body.name}}",
            "Email ": "={{$node[\"Webhook\"].json.body.email}}",
            "Issue": "={{$node[\"Webhook\"].json.body.issue}}",
            "Category": "={{$node[\"Edit Fields\"].json.ai.category}}",
            "Priority": "={{$node[\"Edit Fields\"].json.ai.priority}}",
            "Action": "={{$node[\"Edit Fields\"].json.ai.action}}",
            "CreatedAt": "={{$now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email ",
              "displayName": "Email ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Issue",
              "displayName": "Issue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CreatedAt",
              "displayName": "CreatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1072,
        144
      ],
      "id": "1f8b7ab9-5969-4389-b21a-f963c977ec3b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "xLB4nNXkjQkDed6d",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$node[\"Edit Fields\"].json.ai.priority.toLowerCase().trim()}}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ce1e5393-c532-44ea-b75c-e853b1f2fd50"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dfdc39fd-44dd-4d63-9bdc-713f7734aeb8",
                    "leftValue": "={{$node[\"Edit Fields\"].json.ai.priority.toLowerCase().trim()}}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        0
      ],
      "id": "573857a3-591b-46af-b596-55804ebfd1cf",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e2684523-0458-4f2e-8095-d6c2e91f6bd3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "004a50b2dd8c7dce500cd0aff1a7c9d1e8555bdd5de0b53f2ca2bba4210add57"
  },
  "id": "q7STMEQqkG9Z1mA6",
  "tags": []
}